body {
    display: block;
    color: #40514E;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #66BFBF;
    font-family: 'Merriweather', sans-serif;
    font-size: 5rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.container-inicial {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.intro {
    width: 30%;
    margin: auto;
}

.nuvem-direita {
    position: absolute;
    right: 300px;
    top: 50px;
}

.nuvem-esquerda {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.container-meio {
    margin: 100px 0;
    width: 100%;
    
}

.habilidade-fileira {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.imagem-hardskill {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.imagem-softskill {
    width: 20%;
    float: right;
    margin-left: 20px;
}

.mensagem-contato {
    width: 40%;
    margin: 40px auto 60px;
}

.botao {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif ;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.botao:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.container-final {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.rodape-copyright {
    color: white;
    font-size: 0.75rem;
    padding: 20px 0;
}

